@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --black-color-shade: #292929;
  --green-color: #68b20d;
  --white-color: #fff;
}
body {
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  width: 100%;
}
header {
  background-color: var(--white-color);
}
.container-fluid {
  width: 90%;
  margin: 0 auto;
}
.header-top-section {
  padding: 16px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--green-color);
  padding: 4px;
}
.search-box input {
  font-size: 16px;
  padding: 4px;
  min-width: 300px;
  border: none;
  background-color: transparent;
  outline: none;
}

.search-box img {
  margin: 0 8px;
  cursor: pointer;
}
.right-section button {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--white-color);
  color: var(--black-color-shade);
}
.right-section button.signup-btn {
  color: var(--green-color);
  background-color: transparent;
}
.right-section button.signin-btn {
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 4px;
}
nav {
  margin-top: 12px;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
}
header ul li {
  padding: 16px 0;
  position: relative;
}
header ul li a {
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
nav > ul li:hover > a {
  color: var(--green-color);
}
nav > ul li .course-nested-list {
  min-width: 250px;
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  transition: 0.5s;
  width: 0%;
  z-index: 99;
  background-color: var(--white-color);
}
.brand-logo img {
  height: 40px;
}
.ham-burger-menu {
  margin-left: 16px;
  font-size: 32px;
  color: var(--green-color);
  display: none;
}
nav > ul li:hover .course-nested-list {
  display: block;
  top: 100%;
  width: auto;
}
.have-nested-nav {
  display: flex;
  align-items: center;
}
.fa-angle-down {
  padding: 0 4px;
}
.course-nested-list li {
  cursor: pointer;
  padding: 12px 24px 12px 16px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.course-nested-list li:hover {
  border-left: 5px solid var(--green-color);
  border-right: 5px solid var(--green-color);
  border-bottom: 1px solid var(--green-color);
  border-top: 1px solid var(--green-color);
}
nav > ul li .course-nested-list-left {
  left: -100%;
}
.hall-of-fame {
  padding: 50px 0;
}
.hall-of-fame > h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--green-color);
  text-align: center;
}
.hall-of-fame .main-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  margin-top: 50px;
}
.hall-of-fame .main-box .box {
  width: 33.33%;
}
.hall-of-fame .main-box .box .marginBox {
  position: relative;
  margin: 0 20px;
  overflow: hidden;
  height: 100%;
  width: 90%;
}
.hall-of-fame .main-box .box img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.hall-of-fame .main-box .box .hoverBox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
.hall-of-fame .main-box .box:hover .hoverBox {
  display: block;
  left: 0;
  opacity: 1;
}
.hall-of-fame .main-box .box .description {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  text-align: center;
}
.hall-of-fame .main-box .box .description .socialLinks {
  display: flex;
  list-style-type: none;
  padding: 20px 0;
  opacity: 0.8;
  justify-content: center;
  background-color: var(--green-color);
}
.hall-of-fame .main-box .box .description .socialLinks li {
  margin: 0 12px;
}
.box .description .socialLinks li i {
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.box .description .socialLinks li:hover i {
  color: var(--white-color);
  opacity: 0.8;
}
.box .description .about-person h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--green-color);
  text-transform: uppercase;
}
.box .description .about-person h3 {
  color: rgb(164, 164, 164);
  margin-bottom: 24px;
  font-size: 14px;
}
.box .description .about-person p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0 20px;
  line-height: 1.2;
  font-size: 16px;
  color: var(--white-color);
}
.slick-next:before,
.slick-prev:before {
  color: var(--green-color) !important;
  font-size: 28px !important;
}
.slick-dots {
  bottom: -50px !important;
}
.what-you-will-learn {
  width: 90%;
  padding: 50px 0;
  margin: auto auto;
}
.what-you-will-learn > h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: var(--green-color);
  margin-bottom: 40px;
}
.what-you-will-learn > ul {
  display: flex;
  width: 100%;
  font-size: 18px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.what-you-will-learn > ul li {
  border: 2px solid var(--green-color);
  padding: 8px 16px;
  border-radius: 5px;
  color: var(--green-color);
  transition: 0.5s;
  cursor: pointer;
}
.what-you-will-learn > ul li:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}

.main-program-box .heading h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--green-color);
  text-align: center;
  margin-bottom: 20px;
}
.main-program-box .heading {
  padding: 36px 0;
}
.main-program-box .heading p {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}
.programs {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.programs .program-box {
  width: 33.33%;
}
.programs .program-box .marginBox {
  padding: 20px;
  width: 80%;
  border-radius: 15px;
  border: 1px solid var(--green-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px,
    rgba(0, 0, 0, 0.05) -0px -5px 20px 0px;
}

.programs .program-box .imageBox img {
  width: 100%;
  display: block;
}
.programs .program-box .contentBox {
  margin-top: 20px;
  position: relative;
}
.programs .program-box .contentBox h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
.programs .program-box .contentBox h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}
.programs .program-box .contentBox h3 span {
  color: #000;
}
.programs .program-box .contentBox p {
  font-weight: 600;
  margin: 10px 0 30px 0;
  font-size: 18px;
}
.programs .program-box .contentBox .btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.hvr-float-shadow {
  padding: 8px 16px;
  background-color: transparent;
  font-size: 18px;
  background: transparent;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  color: #68b20d;
  border: none;
  text-decoration: underline;
}
.hvr-float-shadow:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.partner-section {
  width: 90%;
  padding: 100px 0;
  text-align: center;
  margin: 0 auto;
}
.partner-section h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--green-color);
}
.partner-section ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.partner-section ul img {
  height: 150px;
}
.main-program-box .slick-prev {
  left: -40px !important;
}
.main-program-box .slick-next {
  right: -40px !important;
}
footer {
  background-image: url('./Assets/footer.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
footer > div {
  padding: 100px 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.container {
  width: 80%;
  margin: 0 auto;
}
.linksBox {
  display: flex;
  position: relative;
  z-index: 999;
  gap: 2rem;
}
.logo-box {
  width: 40%;
}
.products {
  width: 20%;
}
.middleLinke {
  width: 40%;
}
.middleLinke h2,
.products h2 {
  font-size: 24px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #fff;
  padding: 0 20px 10px 0;
  display: inline-block;
}
.middleLinke h2:before,
.products h2:before {
  position: absolute;
  content: '';
  height: 50%;
  width: 100%;
  bottom: 0;
  border-bottom: 5px solid var(--green-color);
}
.middleLinke div {
  display: flex;
}
.middleLinke div ul {
  width: 50%;
}
.middleLinke div ul li,
.products ul li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 24px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.middleLinke div ul li:before,
.products ul li:before {
  transition: 0.3s;
  position: absolute;
  content: '';
  left: 0;
  transition: 0.3s;
  top: 4px;
  height: 8px;
  width: 8px;
  border: 2px solid var(--white-color);
}
.middleLinke div ul li:hover,
.products ul li:hover {
  color: var(--green-color);
}
.middleLinke div ul li:hover:before,
.products ul li:hover:before {
  border: 2px solid var(--green-color);
}
.logo-box {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}
.logo-box > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box > div ul i {
  font-size: 24px;
  transition: 0.2s;
  margin-right: 12px;
  transition: 0.2s;
  cursor: pointer;
}
.logo-box > div ul i:hover {
  color: var(--green-color);
}
.logo-box > ul {
  margin-top: 30px;
}
.logo-box > ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.logo-box > ul li p {
  line-height: 1.2;
  padding-left: 16px;
}
.logo-box > ul li:hover i {
  color: var(--green-color);
}

.ih-item.square.effect6 {
  overflow: hidden;
}

.ih-item.square {
  position: relative;
}
.teacher-section {
  padding: 50px 0;
}
.teacher-section h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--green-color);
  text-align: center;
  margin-bottom: 50px;
}
.teacherBox {
  width: 33.33%;
}
.teacherBox .from_top_and_bottom {
  width: 80%;
  margin: 0 auto;
}

.teacherBox .img img {
  width: 100%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
  position: center;
}
.ih-item.square.effect6 .img {
  transition: all 0.35s ease-in-out;
  transform: scale(1);
}
.ih-item img {
  width: 100%;
  height: 100%;
}
.ih-item.square.effect6 .info {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 0.35s ease-in-out;
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  backface-visibility: hidden;
}

.ih-item.square.effect6.from_top_and_bottom .info h3 {
  transform: translateY(-100%);
  font-size: 24px;
}

.ih-item.square.effect6.from_top_and_bottom .info h3 {
  transform: translateY(-100%);
}
.ih-item.square.effect6 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
  transition: all 0.35s ease-in-out;
}

.ih-item.square.effect6.from_top_and_bottom .info p {
  transform: translateY(100%);
}
.ih-item.square.effect6 .info p {
  font-style: italic;
  font-size: 16px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;

  transition: all 0.35s 0.1s linear;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item.square.effect6 a:hover .img {
  transform: scale(1.2);
}
.ih-item.square.effect6 a:hover .info {
  visibility: visible;
  opacity: 1;
}
.ih-item.square.effect6.from_top_and_bottom a:hover .info h3,
.ih-item.square.effect6.from_top_and_bottom a:hover .info p {
  transform: translateY(0);
}
.ih-item.square.effect6.from_top_and_bottom a:hover .info h3,
.ih-item.square.effect6.from_top_and_bottom a:hover .info p {
  transform: translateY(0);
}
.techSocialLinks i {
  color: var(--white-color);
  font-size: 28px;
  margin: 0 12px;
  transition: 0.3s;
}
.techSocialLinks i:hover {
  color: var(--green-color);
}
.hack-companies {
  padding: 100px 0;
}
.hack-companies h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  color: var(--green-color);
  margin-bottom: 50px;
}
.hack-companies > div {
  background-color: #bbbbbb;
}
.hack-overlay {
  padding: 80px 0;
  height: 100%;
  width: 100%;
}
.hack-comp-name {
  padding: 30px 0;
}
.hack-comp-name img {
  margin: 0 16px !important;
}
.hack-comp-name .slick-prev,
.hack-comp-name .slick-next {
  display: none !important;
}
.sticky-navbar {
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 999;
}
